In [1]:
import pandas as pd

In [2]:
# CSV converted from Chng_90546_ANInvRTB_2007_2017 (002).pdf, provided by
# Texas Department of Family and Protective Services

dat = pd.read_csv('../src/abuse-neglect.csv').rename(
    columns = lambda x: x.replace(' ', '_').lower()
)

In [3]:
dat.head()

,year,operation_number,operation_name,investigation_closed_date,allegation_type
0,2007,125717,Good Shepherd Lutheran CCC,9/14/2007,Neglectful Supv.
1,2007,152442,Otis Klar Head Start,9/19/2007,Neglectful Supv.
2,2007,153836,ST. MARK'S EARLY EDUCATION PRO,3/1/2007,Neglectful Supv.
3,2007,176833,Doris Maittre,7/19/2007,Neglectful Supv.
4,2007,178179,La Petite Crosby,4/18/2007,Physical Neglect

In [4]:
print(
    '{:,} abuse and neglect cases, 2007-2017'.format(
        dat.shape[0]
    )
)

3,217 abuse and neglect cases, 2007-2017

In [5]:
dat.year.value_counts().sort_index()

2007    415
2008    433
2009    340
2010    194
2011    268
2012    293
2013    237
2014    259
2015    292
2016    271
2017    215
Name: year, dtype: int64

Sexual abuse by year

In [6]:
dat.query(
    'allegation_type == "Sexual Abuse"'
).year.value_counts().sort_index()

2007    51
2008    44
2009    36
2010    38
2011    27
2012    58
2013    28
2014    39
2015    42
2016    54
2017    35
Name: year, dtype: int64

In [7]:
print(
    '{} sexual abuse cases, 2007-2017'.format(
        dat.query(
            'allegation_type == "Sexual Abuse"'
        ).shape[0]
    )
)

452 sexual abuse cases, 2007-2017